#img_field {
  width: 306px;
  padding: 5px 8px;
  border: solid 1px #DEE2E6;
  text-align: center;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;

  &:hover {
    background-color: #E8ECF1;
    transition: 0.3s ease-out;
    opacity: 0.9;
  }

  i {
    font-size: 30px;
    color: #aaa;
    line-height: 150px;
    transition: 0.3s ease-out;
  }
}
